@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

html,
body {
  background-color: #f1f4f8;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.container-fluid {
  padding: 0;
  width: 100%;
}
/* Navbar start */

.navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.navbar a.navbar-brand {
  font-size: 20px;
  font-weight: 600;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  text-align: center !important;
}

/* Navbar end */

/* Search bar start */
.searchBarStyle {
  margin-top: 4rem;
}
.searchBarRound {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SearchBarInput {
  font-size: 18px;
  /* letter-spacing: 0.5px; */
  text-align: center;
  font-family: "Poppins", sans-serif;
}

input.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: #080b1d !important;
  /* color: white !important; */
}
input.form-control::placeholder {
  /* color: #080b1d; */
  font-weight: 700;
  letter-spacing: 1px;
}
/* Search Bar end */

/* Tiles group start */
.tilesGroupStyle {
  margin-top: 3rem;
}

/* Tiles group end */

/* Tile start */
.tileCardStyle {
  font-family: "Open Sans", sans-serif;
  border-radius: 10px !important;
  font-weight: 400;
}
.tileTitleStyle {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 800;
  color: black;

  /* color: #080b1d; */
  /* color: #0b207c; */
  /* color: rgb(6, 108, 211); */
}
.tileBodyStyle {
  font-size: 16px;
  /* color: #363738; */
  color: #30323d;
}
.textLI {
  font-size: 16px;
  padding: 10px;
}
/* Tile end */

/* Mini Tile start */
.miniTileCardStyle {
  border-radius: 10px !important;
  font-weight: 400;
}
.dataNumbersText {
  font-size: 22px;
}
.dataTitle {
  color: #3c4043;
  font-size: 14px;
}

/* .miniTileCardBody {
  height: 15rem;
} */
/* .miniTileCardBody2 {
  height: 4rem;
} */
/* Mini tile end */
